@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
:root {
  --transition: all 0.3s linear;
  --spacing: 0.10rem;
  --radius: 0.5rem;
  
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.navbar{
  background:  #333;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  padding: 14px 16px;
 
}

.navText{
  text-transform: uppercase;
  background: transparent;
  color: white;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  
  font-size: 0.875rem;
 cursor: pointer;

  border-radius: var(--radius);

  text-decoration: none;
}

.navText:hover:not(.active) {
  background-color: #111;
}
.active {
  border: 2px solid white;
}

body{
  background-color: black;
  color: white;
  background-image: url("https://media-assets-05.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-10557-netflixa--default--1280.jpg");
  
} 

.home{
  background-color: rgba(0, 0, 0, 0.899);;
}


.loginForm{
  background-color: rgba(0, 0, 0, 0.899);
  width: 400px;
  height: 550px;
  margin-top: 60px;
  margin-left: 350px;
  align-items: center;
  padding: 50px;
  border-radius: 20px;

}

h1{
  letter-spacing: var(--spacing);
  text-align-last: center;

}

.loginForm input{
  width: 370px;
  height: 30px;
  border-radius: 60px;
  margin-top: 15px;
  box-shadow: inset 0px 10px 10px 0px #888;
} */

/* 
.login{
  
  background-image: url("https://media-assets-05.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-10557-netflixa--default--1280.jpg");
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} */

/* .signUp{
  background-image: url("https://media-assets-05.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-10557-netflixa--default--1280.jpg");
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} */

/* display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */

  /* src="https://media-assets-05.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-10557-netflixa--default--1280.jpg"  */


  body{
    background-color: black;
    color: white;
    height: 800px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url("https://media-assets-05.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-10557-netflixa--default--1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
  } 
  
  input[type="radio"] {
    display: none;
  }

  .page{
    background-color: rgba(0,0,0,3);;
    display: grid;
    grid-template-rows: 80px 1fr;
  }

  #selected-movie-page{
    background-color: rgba(0,0,0,3);;
    display: grid;
    grid-template-rows: 80px 1fr 1fr;
  }

  .userPage{
    display: grid;
    grid-template-rows: 80px 1fr 1fr;
  }

  .userPage-header-container{
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 15px;
  }

  .userPage-contant-in-center{
    display: grid;
    grid-template-columns: auto 1000px auto;
  }

  .userPage-contant-container{
    display: grid;
    grid-column: 2;
    padding-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-template-rows: repeat(3, 450px);
  }

  #navbar-grid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 350px 100px 100px 150px 1fr;
    gap: 30px;
  }

  #netflat-logo{
    margin-left: 26px;
    cursor: pointer;
    margin-top: 7px;
    width: 100px;
    height: auto;
  }

  .header-container{
    width: 100%;
    height: 500px;
    position: relative;
  }

  .header-trailer{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
  }

  .header-title{
    z-index: 5;
    padding-top: 45px;
    padding-left: 60px;
    font-size: 70pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-kerning: none;
    position: absolute;
  }

  #second-row-text{
    margin-top: -40px;
  }

  .header-subtitle{
    z-index: 5;
    padding-top: 275px;
    padding-left: 60px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
  }

  #detail-btn{
    position: absolute;
    z-index: 5;
  }

  .movie-trailer{
    margin-top: 70px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: absolute;
  }

  .selected-card{
    width: 350px;
    padding: 30px;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 100px;
  }

  .card-grid{
    display: grid;
    grid-template-columns: auto 805px auto;
  }

  /* className='w-80 p-2 bg-black rounded-xl mt-10'> */

  /* .active {
    border: 2px solid white;
  } */